version: 2
jobs:
  deploy-website:
    docker:
      - image: circleci/node:8
    steps:
      - checkout
      - run:
          name: Deploying to GitHub Pages
          command: |
            git config --global user.email "35625753+oclif-bot@users.noreply.github.com"
            git config --global user.name "oclif-bot"
            echo "machine github.com login oclif-bot password $GITHUB_TOKEN" > ~/.netrc
            cd website && yarn install && GIT_USER=oclif-bot yarn run publish-gh-pages

workflows:
  version: 2
  build_and_deploy:
    jobs:
      - deploy-website
