$dark-gray: #394351;
$mid-gray: #5F6C7E;
$light-gray: #96A3B6;
$green: #71C405;
$teal: #42aecc;

@import "tachyons";

body {
  background: #fff;
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

// Helpers

.code {
  font-family: 'Roboto Mono', monospace;
}

.green {
  color: $green;
}

.dark-gray {
  color: $dark-gray;
}

.mid-gray {
  color: $mid-gray;
}

.light-gray {
  color: $light-gray;
}

.b--light-gray {
  border-color: $light-gray;
}

.b--lighter-gray {
  border-color: rgba($light-gray, 0.2);
}

.fill-green {
  fill: $green;
}

.fill-dark-gray {
  fill: $dark-gray;
}

.fill-mid-gray {
  fill: $mid-gray;
}

.fill-white {
  fill: #fff;
}

.bg-green {
  background-color: $green;
}

.bg-dark-gray {
  background-color: $dark-gray;
}

.bg-mid-gray {
  background-color: $mid-gray;
}

.bg-light-gray {
  background-color: $light-gray;
}

.bg-lighter-gray {
  background-color: rgba($light-gray, 0.2);
}

.bg-dark-gray-gradient {
  background-image: linear-gradient(0deg, lighten($dark-gray, 20%) 0%, $dark-gray 100%);
}

.bg-light-gray-gradient {
  background-image: linear-gradient(0deg, #fff 0%, #F0F5F7 100%);
}

.bg-light-gray-gradient-reversed {
  background-image: linear-gradient(180deg, #fff 0%, #F0F5F7 100%);
  }

.lh-large {
  line-height: 1.8;
}

.pull-heading-left {
  margin-left: -32px;
}

// Components

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 50px;
  background: $dark-gray;
  background: rgba($dark-gray, 0.9);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .logo {
    display: block;
    margin-right: auto;
  }
}

header .logo {
  display: block;
  margin-right: auto;
  height: 20px !important;
}

.banner {
  padding-top: 50px;
}

.code-example {
  box-shadow: 0 0 50px 5px rgba(#FFFFFF, 0.1);
}

.video-player {
  border-bottom: 5px solid $green;
}

.line {
  height: 1px;
  border: none;
  background-image: linear-gradient(-90deg, rgba($light-gray, 0) 0%, rgba($light-gray, 0.5) 50%, rgba($light-gray, 0) 100%);
}

a.ba {
  margin: 5px;
}

header .logo {
  fill: #fff;
}

.homepage h2 {
  font-size: 1.5em;
  margin-bottom: 0.83em;
}

.homepage {
  h1 {
    line-height: 1;
    margin: 1em 0;
  }
  h2 {
    font-family: Roboto;
  }
  p {
    text-align: left;
  }
  .center {
    text-align: center;
  }
}

.navigationSlider .slidingNav ul li.siteNavGroupActive a {
  // font-family: Roboto;
  color: rgba(255, 255, 255, 0.8);
  background-color: #394351;
}

h2.headerTitle {
  // font-family: Roboto;
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
}

// override primaryColor
// .navigationSlider .slidingNav ul li a:focus, .navigationSlider .slidingNav ul li a:hover {
//   background-color: #394351;
// }
// .fixedHeaderContainer {
//   background-color: #394351;
// }

// docs pages
article, .blogContainer {
  p, a, h1, h2, h3, h4, h5, h6 {
    font-family: Roboto;
  }

  // pre code {
  //   font-family: "Roboto Mono";
  // }

  a {
    color: $teal;
  }

  h1 a, .button {
    color: rgb(57, 67, 81);
  }

  .button:hover {
    color: #fff;
  }
}

nav.toc {
  h3 {
    font-family: Roboto;
  }

  a.navItem {
    font-family: Roboto;
  }

  .toggleNav ul li a.navItemActive {
    color: $teal;
  }
}

.mainContainer {
  background-color: #fff;
}

.docMainWrapper {
  article {
    h3 > code {
      line-height: 1.2;
    }
  }
}

.oclifconfWrapper {
  header {
    background: $dark-gray;
    border-bottom: 5px solid $green;
  }

  .sf {
    &:before {
      content: '';
      background-image: url(../img/oclifconf-sf.jpg);
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      z-index: -1;
      background-size: 1500px;
      background-position: bottom center;
      background-repeat: no-repeat;
    }
  }
}

@media only screen and (min-width: 1500px) {
  .blog .headerWrapper {
    max-width: 1400px;
  }
}
